<header>
    <nav>
        <a href="/">
        <div class="logo">Print Center</div>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/api/login" class="btn">Login</a></li>
            <select id="languageSwitcher">
                <option value="en">English</option>
                <option value="ru">Русский</option>
            </select>
        </ul>
    </nav>
</header>
