.btn {
    display: inline-block;
    margin: 5px;
    background: #ff5722;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-decoration-skip-ink: none;
}

.btn:hover {
    background: white;
    color: #ff5722;
}
