header {
    background: #222;
    padding: 15px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 4vh;
}
nav a{
    text-decoration: none;
}
nav a .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    align-content: center;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none !important;
}

nav ul li a:hover {
    color: #ff5722;
    text-decoration: none !important;
}

/* Language Switcher Styles */
.languageSwitcher {
    background: #333;
    color: white;
    border: 1px solid #444;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.languageSwitcher:hover {
    background: #444;
}

.languageSwitcher:focus {
    border-color: #ff5722;
}

/* Ensure alignment inside nav */
nav ul li select {
    margin-left: 15px;
}
